*{
	margin: 0px;
	padding: 0px;
}
img{
	display: block;
	margin: 0px auto;
	max-width: 100%;
}

div{
	display: table;
	margin: 0px auto;
	padding: 10px;
}
ul{
	list-style: none;
	display: inline-block;
	
	
}

ul li{
	width: 75px;
	height: 75px;
	margin-top: 2px;
	margin-right: 2px;
	background:#e8830d;
	border-radius: 5px;	
}
